<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <link rel="icon" sizes="128x128" href="license-plate.png">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-content>
        <v-container fluid fill-height>
          <v-layout align-center justify-center>
            <v-flex xs12 sm8 md4>
              <v-card class="elevation-12">
                <v-toolbar dark color="primary">
                  <v-toolbar-title>Numerologia Pessoal</v-toolbar-title>
                  <v-spacer></v-spacer>
                </v-toolbar>
                <v-card-text>
                  <v-form>
                    <v-text-field prepend-icon="account_box" v-model="fullName" name="fullname" label="Nome" type="text"></v-text-field>
                    <v-text-field prepend-icon="date_range" v-model="birthdate" name="birthdate" label="Data de Nascimento (dd/mm/yyyy)" type="text"></v-text-field> 
                  </v-form>
                  <p v-if="soul" class="text-md-center">Alma: {{soul}} </p>
                  <p v-if="image" class="text-md-center">Imagem: {{image}} </p>
                  <p v-if="destiny" class="text-md-center">Destino: {{destiny}} </p>
                  <p v-if="destiny" class="text-md-center">Caminho de Origem: {{caminhoDeOrigem}} </p>
                  <p v-if="destiny" class="text-md-center">Ano Pessoal: {{personalYear}} </p>
                  <!-- <p v-if="destiny" class="text-md-center">Mes Pessoal: {{personalMonth}} </p>
                  <p v-if="destiny" class="text-md-center">Dia Pessoal: {{personalDay}} </p> -->
                </v-card-text>
                <v-layout row justify-center>
                  <v-btn color="primary" dark @click.stop="dialogSoul = true" color="primary" class= "ma-2">Alma</v-btn>  <!-- slot="activator" -->
                </v-layout>
                <v-layout row justify-center>
                  <v-btn @click.stop="dialogImage = true" color="primary" class= "ma-2">Imagem</v-btn>
                </v-layout>
                <v-layout row justify-center>
                  <v-btn @click.stop="dialogDestiny = true" color="primary" class= "ma-2">Destino</v-btn>
                </v-layout>
                <v-layout row justify-center>
                  <v-btn @click.stop="dialogCO = true" color="primary" class= "ma-2">Lição de Vida</v-btn>
                </v-layout>
                <v-card-actions>
                  <v-spacer></v-spacer>                
                  <v-dialog v-model="dialogSoul" width="600px">
                    <v-card>
                      <v-card-title>
                        <span class="headline">A ALMA de {{fullName}}?</span>
                      </v-card-title>
                      <v-card-text v-html="descriptionSoul"></v-card-text>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat="flat" @click="dialogSoul = false">Fechar</v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </v-card-actions>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-dialog v-model="dialogImage" width="600px">
                    <v-card>
                      <v-card-title>
                        <span class="headline">A Imagem de {{fullName}}?</span>
                      </v-card-title>
                      <v-card-text v-html="descriptionImage"></v-card-text>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat="flat" @click="dialogImage = false">Fechar</v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </v-card-actions>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-dialog v-model="dialogDestiny" width="600px">
                    <v-card>
                      <v-card-title>
                        <span class="headline">O destino de {{fullName}}?</span>
                      </v-card-title>
                      <v-card-text v-html="descriptionDestiny"></v-card-text>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat="flat" @click="dialogDestiny = false">Fechar</v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </v-card-actions>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-dialog v-model="dialogCO" width="600px">
                    <v-card>
                      <v-card-title>
                        <span class="headline">A lição de vida de {{fullName}}?</span>
                      </v-card-title>
                      <v-card-text v-html="descriptionCaminhoDeOrigem"></v-card-text>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat="flat" @click="dialogCO = false">Fechar</v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </v-card-actions>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-content>
    </v-app>
  </div>
 
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
  <script src="./data.js" type="text/javascript"></script>
  <script>
    
    new Vue({ 
      el: '#app',
      data: {
        fullName: '',
        birthdate: '',
        dialogSoul: false,
        dialogImage: false,
        dialogDestiny: false,
        dialogCO: false
      },
      computed: {
        soulN: function() {
          return this.numberFromStr(this.fullName, 'vowel')
        },

        soul: function() {
          return this.reduce(this.soulN)
        },

        imageN: function() {
          return this.numberFromStr(this.fullName, 'consonant')
        },

        image: function() {
          return this.reduce(this.imageN)
        },

        destiny: function() {
          let dest = this.reduce( this.imageN )  + this.reduce( this.soulN )
          return this.reduce(dest)
        },

        caminhoDeOrigem: function() {
          
          return this.reduce(this.numberFromStr(this.birthdate))
        },
        
        descriptionSoul: function() {
          return soulTxt[this.soul]
        },

        descriptionImage: function() {
          return imageTxt[this.image]
        },

        descriptionDestiny: function() {
          return destinyTxt[this.destiny]
        },

        descriptionCaminhoDeOrigem: function() {
          return caminhoDeOrigemTxt[this.caminhoDeOrigem]
        },

        personalYear: function() {
          let dateArray = this.birthdate.split('/')
          let birthdateDate = new Date(Number(dateArray[2]), Number(dateArray[1])-1, Number(dateArray[0]) )
          let currentDate = new Date()
          let calcDate = new Date(currentDate.getFullYear(), Number(dateArray[1])-1, Number(dateArray[0]) )
          let calcPersonalYear, t1, t2
          if(currentDate < calcDate)
            calcPersonalYear = t1 = birthdateDate.getDate() + (birthdateDate.getMonth()+1) + (currentDate.getFullYear()-1)
          else
            calcPersonalYear = t2 = birthdateDate.getDate() + (birthdateDate.getMonth()+1) + currentDate.getFullYear()
          
          return this.reduce(calcPersonalYear)
        }
        
      },
      methods: {
        vowel: function(letra) {
          if(letra=='a' || letra=='e' || letra=='i' || letra=='o' || letra=='u' || letra=='A' || letra=='E' || letra=='I' || letra=='O' || letra=='U')
            return true
          else
            return false
        },
        reduce: function(sum) {
          while(sum > 9 && sum != 11 && sum != 22 && sum != 33) {
              temp = sum.toString()
              var pos = 0, nroTemp = 0
              while(pos < temp.length){
                  nroTemp += temp.charCodeAt(pos) - 48
                  pos++
              }
              sum = nroTemp
          }
          return sum
        },
        reduceBackTrack: function(sum) {
          var strNum = sum 
          while(sum > 9 && sum != 11 && sum != 22 && sum != 33) {
              strNum += ' - '
              temp = sum.toString()
              var pos = 0, nroTemp = 0
              while(pos < temp.length){
                  nroTemp += temp.charCodeAt(pos) - 48
                  pos++
              }
              sum = nroTemp
              strNum += sum 
          }
          return strNum
        },

        numberFromStr: function(str, strType) {
          var sumStr = 0
          for (var i = 0; i < str.length; i++) {
            var currentChar = str.charCodeAt(i)
            switch(strType){
              case 'vowel':
                if (!this.vowel(str.charAt(i))) 
                  sumStr += this.uniqueNumberFromChar(currentChar)
                break
              case 'consonant':
                if (!this.vowel(str.charAt(i)))
                  sumStr += this.uniqueNumberFromChar(currentChar)
                break
              case 'any':
              default:
                sumStr += this.uniqueNumberFromChar(currentChar)
            }
          }  
          return sumStr
        },

        uniqueNumberFromChar: function (chr) {
          if(chr >= 48 && chr <= 57)  //verifica se é nro - ascci entre 48 e 57 são numeros de zero a nove
            return chr - 48  //diminuir 48 para dar o valor do caractere e não seu valor ascii
          else if (chr >= 65 && chr <= 90) //verifica se é letras - ascci entre 65 e 90 são letras maiusculas, 97 e 122 sao minusculas
            return this.reduce(chr - 64)
          else if (chr >= 97 && chr <= 122)
            return this.reduce(chr - 96)

          return null
        }
      }
    })
  </script>
</body>
</html>
