<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <link rel="icon" sizes="128x128" href="license-plate.png">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-content>
        <v-container fluid fill-height>
          <v-layout align-center justify-center>
            <v-flex xs12 sm8 md4>
              <v-card class="elevation-12">
                <v-toolbar dark color="primary">
                  <v-toolbar-title>Numerologia Pessoal</v-toolbar-title>
                  <v-spacer></v-spacer>
                </v-toolbar>
                <v-card-text>
                  <v-form>
                    <v-text-field prepend-icon="account_box" v-model="fullName" name="fullname" label="Nome" type="text"></v-text-field>
                    <v-text-field prepend-icon="date_range" v-model="birthdate" name="birthdate" label="Data de Nascimento" type="text"></v-text-field>
                  </v-form>
                  <p v-if="soul" class="text-md-center">Alma: {{soul}} </p>
                  <p v-if="image" class="text-md-center">Imagem: {{image}} </p>
                  <p v-if="destiny" class="text-md-center">Destino: {{destiny}} </p>
                  <p v-if="destiny" class="text-md-center">Caminho de Origem: {{caminhoDeOrigem}} </p>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <!-- <v-btn color="primary">Ver descrição</v-btn> -->
                  <v-dialog v-model="dialogSoul" width="600px">
                    <v-btn slot="activator" color="primary" class= "ma-2">Alma</v-btn>
                    <v-card>
                      <v-card-title>
                        <span class="headline">A ALMA de {{fullName}}?</span>
                      </v-card-title>
                      <v-card-text v-html="descriptionSoul"></v-card-text>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat="flat" @click="dialogSoul = false">Fechar</v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                  <v-dialog v-model="dialogImage" width="600px">
                    <v-btn slot="activator" color="primary" class= "ma-2">Imagem</v-btn>
                    <v-card>
                      <v-card-title>
                        <span class="headline">A Imagem de {{fullName}}?</span>
                      </v-card-title>
                      <v-card-text v-html="descriptionImage"></v-card-text>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat="flat" @click="dialogImage = false">Fechar</v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                  <v-dialog v-model="dialogDestiny" width="600px">
                    <v-btn slot="activator" color="primary" class= "ma-2">Destino</v-btn>
                    <v-card>
                      <v-card-title>
                        <span class="headline">O destino de {{fullName}}?</span>
                      </v-card-title>
                      <v-card-text v-html="descriptionDestiny"></v-card-text>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat="flat" @click="dialogDestiny = false">Fechar</v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                  <v-dialog v-model="dialogCO" width="600px">
                    <v-btn slot="activator" color="primary" class= "ma-2">Lição de Vida</v-btn>
                    <v-card>
                      <v-card-title>
                        <span class="headline">A lição de vida de {{fullName}}?</span>
                      </v-card-title>
                      <v-card-text v-html="descriptionCaminhoDeOrigem"></v-card-text>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat="flat" @click="dialogCO = false">Fechar</v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </v-card-actions>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-content>
    </v-app>
  </div>
 
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
  <script src="./data.js" type="text/javascript"></script>
  <script>
    
    new Vue({ 
      el: '#app',
      data: {
        fullName: '',
        birthdate: '',
        dialogSoul: false,
        dialogImage: false,
        dialogDestiny: false,
        dialogCO: false
      },
      computed: {
        soulN: function() {
          let soul = this.fullName
          var sumSoul = 0
          for (var i = 0; i < soul.length; i++) {
            var currentChar = soul.charCodeAt(i)
            if (this.vowel(soul.charAt(i))) {
              if(currentChar >= 48 && currentChar <= 57)  //verifica se é nro - ascci entre 48 e 57 são numeros de zero a nove
                sumSoul += currentChar - 48  //diminuir 48 para dar o valor do caractere e não seu valor ascii
              else if (currentChar >= 65 && currentChar <= 90) //verifica se é letras - ascci entre 65 e 90 são letras maiusculas, 97 e 122 sao minusculas
                sumSoul += this.reduce(currentChar - 64)
              else if (currentChar >= 97 && currentChar <= 122)
                sumSoul += this.reduce(currentChar - 96)
            }
          }  
          
          return sumSoul

        },

        soul: function() {
          return this.reduce(this.soulN)
        },

        imageN: function() {
          
          return this.numberFromStr(this.fullName)
        },

        image: function() {
          return this.reduce(this.imageN)
        },

        destiny: function() {
          let dest = this.reduce( this.imageN )  + this.reduce( this.soulN )
          return this.reduce(dest)
        },

        caminhoDeOrigem: function() {
          
          return this.reduce(this.numberFromStr(this.birthdate))
        },

        mainNumber: function() {
          let placa = this.fullName
          var sum = 0
          for (var i = 0; i < placa.length; i++) {
            var currentChar = placa.charCodeAt(i)
            if(currentChar >= 48 && currentChar <= 57)  //verifica se é nro - ascci entre 48 e 57 são numeros de zero a nove
              sum += currentChar - 48  //diminuir 48 para dar o valor do caractere e não seu valor ascii
            else if (currentChar >= 65 && currentChar <= 90) //verifica se é letras - ascci entre 65 e 90 são letras maiusculas, 97 e 122 sao minusculas
              sum += currentChar - 64
            else if (currentChar >= 97 && currentChar <= 122)
              sum += currentChar - 96

          }  
          while(sum > 9 ){
              temp = sum.toString()
              var pos = 0, nroTemp = 0
              while(pos < temp.length){
                  nroTemp += temp.charCodeAt(pos) - 48
                  pos++
              }
              sum = nroTemp
          }
          return sum
        },
        
        descriptionSoul: function() {
          return soulTxt[this.soul]
        },

        descriptionImage: function() {
          return imageTxt[this.image]
        },

        descriptionDestiny: function() {
          return destinyTxt[this.destiny]
        },

        descriptionCaminhoDeOrigem: function() {
          return caminhoDeOrigemTxt[this.caminhoDeOrigem]
        }
        
      },
      methods: {
        vowel: function(letra) {
          if(letra=='a' || letra=='e' || letra=='i' || letra=='o' || letra=='u' || letra=='A' || letra=='E' || letra=='I' || letra=='O' || letra=='U')
            return true
          else
            return false
        },
        reduce: function(sum) {
          while(sum > 9 && sum != 11 && sum != 22 && sum != 33) {
              temp = sum.toString()
              var pos = 0, nroTemp = 0
              while(pos < temp.length){
                  nroTemp += temp.charCodeAt(pos) - 48
                  pos++
              }
              sum = nroTemp
          }
          return sum
        },
        reduceBackTrack: function(sum) {
          var strNum = sum 
          while(sum > 9 && sum != 11 && sum != 22 && sum != 33) {
              strNum += ' - '
              temp = sum.toString()
              var pos = 0, nroTemp = 0
              while(pos < temp.length){
                  nroTemp += temp.charCodeAt(pos) - 48
                  pos++
              }
              sum = nroTemp
              strNum += sum 
          }
          return strNum
        },

        numberFromStr: function(str) {
          var sumStr = 0
          for (var i = 0; i < str.length; i++) {
            var currentChar = str.charCodeAt(i)
            if(currentChar >= 48 && currentChar <= 57)  //verifica se é nro - ascci entre 48 e 57 são numeros de zero a nove
              sumStr += currentChar - 48  //diminuir 48 para dar o valor do caractere e não seu valor ascii
            else if (currentChar >= 65 && currentChar <= 90) //verifica se é letras - ascci entre 65 e 90 são letras maiusculas, 97 e 122 sao minusculas
              sumStr += this.reduce(currentChar - 64)
            else if (currentChar >= 97 && currentChar <= 122)
              sumStr += this.reduce(currentChar - 96)
          }  
          return sumStr
        }

      }
    })
  </script>
</body>
</html>
